/*Universal*/
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
   
}
body {
    background-color: black;
    text-align: center;
}
/*Header*/

.main {
    font-size: 3.125rem;
    color: white;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a {
    font-size: 1rem;
    color:aquamarine;
}

/*Guide*/
.guide {
    font-size: 2.625rem;
    color: white;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.description {
    font-size: 1rem;
    color: grey;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.image {
    text-align: center;
}


/*Footer*/
.footeres {
    text-align: right;
}
